.repos-list {
  &__title {
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
    text-align: left;
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__item {
      padding: 10px 20px;
      background-color: #ffffff;
      border: none;
      border-radius: 5px;
    }
  }
}
