.header {
  &-container {
    background-color: blue;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0px 30px;
    margin-bottom: 30px;
  }

  &-wrapper {
    position: relative;

    &-icon {
      position: absolute;
      bottom: 11px;
      left: 10px;
      cursor: pointer;
    }

    &-input {
      width: 463px;
      height: 40px;
      border: none;
      border-radius: 5px;
      padding-left: 35px;
    }
  }
}
