.app {
  text-align: center;
  background: #f9f9f9;
}

.app-middle {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  padding-bottom: 20px;
  min-height: calc(100vh - 102px);
}
